@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Courier, monospace;
  @apply text-gray-300;
}

.flex_center {
  @apply flex justify-center items-center;
}

.flex_evenly {
  @apply flex justify-evenly items-center;
}

.flex_between {
  @apply flex justify-between items-center;
}

.primary_text {
  @apply text-4xl md:text-6xl font-extralight my-3 text-center;
}

.secondary_text {
  @apply text-base md:text-2xl my-2;
}

.highlight {
  @apply text-blue-500;
}

.glass_card {
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  background-color: rgba(17, 25, 40, 0.40);
  border-radius: 12px;
}

.custom_background {
  background-color: #0b0e2d;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #0240b3, #0b0e2d), repeating-radial-gradient(circle at center center, #005ca2, #005ca2, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
}
.stock_card{
  @apply min-w-20 md:w-32 lg:w-36 xl:w-40 border-l border-gray-600 my-auto text-xs text-center;
}


/* scroll bar css */

*::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */

}

*::-webkit-scrollbar-track {
  background: rgb(3, 45, 71);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(139, 139, 139);  /* creates padding around scroll thumb */
}



/* Loader CSS */

.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner>div {
  background-color: rgba(85, 190, 247, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid #55bef7;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}